@model GetCargoCustomerByIdDto
@{
    ViewData["Title"] = "UserAddressInfo";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
        <h6 class="m-0 font-weight-bold text-primary">@Model.Name @Model.Surname 'e Ait Adres Detayı</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Adı Soyadı</th>
                        <th>Bölge</th>
                        <th>Şehir</th>
                        <th>Adres</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.Name @Model.Surname</td>
                        <td>@Model.District</td>
                        <td>@Model.City</td>
                        <td>@Model.Address</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
