@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
    var currentPath = Context.Request.Path;
}
<style>
    .nav-link-user {
        display: block;
        padding: 0.5rem 1rem;
        font-weight: 400;
        color: #3d464d;
      
        text-align: center;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
        text-decoration: none;
        transition: background-color 0.3s ease, color 0.3s ease;
        border: 1px solid slategrey;
        background-color:white;
    }
        .nav-link-user.active {
            background-color: #ffd333;
            color: #3d464d
        }
        .nav-link-user:hover {
            background-color: #3d464d; 
            color: #ffd333;
        }
        .nav-link-user:focus {
            outline: 0;
            box-shadow: 0 0 0 0.2rem #3d464d;
        }
</style>

<div class="container-fluid mb-30">
   

    <div class="row px-xl-5">
        <div class="col-lg-3 px-xl-5">

            @await Component.InvokeAsync("_UserCardUserLayoutViewComponentPartial")

            <ul class="nav flex-column shadow">
                <li class="nav-item text-dark">
                    <a class="nav-link-user @(currentPath == "/User/MyOrder/MyOrderList" ? "active" : "")" href="/User/MyOrder/MyOrderList">Aktif Siparişlerim</a>
                </li>
                <li class="nav-item text-dark">
                    <a class="nav-link-user @(currentPath == "/User/Message/Inbox" ? "active" : "")" href="/User/Message/Inbox">Gelen Mesajlarım</a>
                </li>
                <li class="nav-item text-dark">
                    <a class="nav-link-user @(currentPath == "/User/Message/Sendbox" ? "active" : "")" href="/User/Message/Sendbox">Giden Mesajlarım</a>
                </li>
             
                <li class="nav-item">
                    <a class="nav-link-user @(currentPath == "/User/Cargo/Index" ? "active" : "")" href="/User/Cargo/Index">Kargolarım</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link-user @(currentPath == "/User/AnotherLink" ? "active" : "")" href="/User/AnotherLink">Profilim </a>
                </li>
            </ul>
        </div>

        <div class="col-lg-9 px-xl-5">
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>

    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Tüm nav-link'leri seç
        var links = document.querySelectorAll('.nav-link');

        // Her birine click event listener ekle
        links.forEach(function (link) {
            link.addEventListener('click', function () {
                // Tüm linklerden "active" sınıfını kaldır
                links.forEach(function (item) {
                    item.classList.remove('active');
                });

                // Tıklanılan linke "active" sınıfını ekle
                link.classList.add('active');
            });
        });
    });
</script>
